.employeeForm{
    background-color: rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0, 0.3)  !important;
}
.rowSeparator{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.248); /* Width, style, and color of the top outline */
    
}